html{
	background-color:#002d44
	
}
body{
	background: linear-gradient(top,#09121e 0%,#003e66 100%);
	font-family: Arial;
}
td{
	text-shadow: 0px 0px 20px #407fab;
	color: #fff;
	box-shadow: 0px 0px 13px #47b6ff;
	border-radius: 4px;
	background: transparent;
	border: solid 1px #003e66;
	padding: 5px 5px 5px 5px;
}
tr#vitals{
	height: 75px;
}
tr#location{
	height: 200px;
}
tr#audiovideo{
	height: 200px;
}
#logocell{
	position: relative;
}
#logo{
	display: block;
	position: absolute;
	bottom: 5px;
	right: 3px;
	width: 50px;
	height: 50px;
	-webkit-animation: adjustHue 3s alternate infinite;
}
@media screen{
@-webkit-keyframes adjustHue {  
   0% { -webkit-filter: hue-rotate(30deg) blur(1px); }  
   50% { -webkit-filter: hue-rotate(60deg) blur(1px); }  
   100% { -webkit-filter: hue-rotate(90deg) blur(1px); }     
}
table{
	width: 530px;
	height: 540px;
	margin-top: -270px;
	margin-left: -265px;
	margin-bottom: 0px;
	margin-right: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	border-collapse: separate;
	border-spacing: 10px;
}
}
@media only screen
and (max-device-width: 480px){
@-webkit-keyframes adjustHue {  
   0% { -webkit-filter: hue-rotate(30deg) blur(3px); }  
   50% { -webkit-filter: hue-rotate(60deg) blur(3px); }  
   100% { -webkit-filter: hue-rotate(90deg) blur(3px); }     
}
table{
	width: 90%;
	height: 90%;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 5%;
	position: absolute;
	left: 0px;
	top: 0px;
	border-collapse: separate;
	border-spacing: 10px;
}
}
@-webkit-keyframes heartBeat {  
   0% { -webkit-transform: scale(1.0); }  
   30% { -webkit-transform: scale(1.5); }  
   50% { -webkit-transform: scale(1.0); }  
   100% { -webkit-transform: scale(1.0); }  
}
@-webkit-keyframes lungBreath {  
   0% { -webkit-transform: scale(1.0); }  
   100% { -webkit-transform: scale(1.5); }  
}
div#map-canvas{
	width: 100%;
	height:200px;
}
td#heart-rate-cell{
	width: 150px;
	height: 75px;
	text-align: center;
}
div#heart{
	margin-left: auto;
	color: #ff0000;
	font-size: 50px;
	width: 50px;
	display: inline-block;
	text-align: center;
	vertical-align: center;
	-webkit-animation: heartBeat 1s alternate infinite;
}
div#heart-rate{
	width:80px;
	height:50px;
	display: inline-block;
}
div#heart-rate-num{
	font-size: 24px;
	text-align: center;
	padding-bottom: 0px;
}
div#heart-rate-units{
	padding-top: 0px;
	text-align: center;
	font-size: 8px;
}
td#resparation-rate-cell{
	width: 150px;
	height: 75px;
	text-align: center;
}
div#lung{
	margin-left: auto;
	color: #ff0000;
	font-size: 50px;
	margin-left: -20px;
	width: 50px;
	display: inline-block;
	text-align: center;
	vertical-align: center;
	-webkit-animation: lungBreath 1s alternate infinite;
}
div#resparation-rate{
	width:50px;
	height:50px;
	display: inline-block;
}
div#resparation-rate-num{
	font-size: 24px;
	text-align: center;
	padding-bottom: 0px;
}
div#resparation-rate-units{
	padding-top: 0px;
	text-align: center;
	font-size: 8px;
}
td#location-cell{
	width: 315px;
}
#loader{
	width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 1;
  background-color: #002d44;
  z-index: 99;
  text-align: center;
}
#facebookG{
position: absolute;
	top: 30%;
  left: 50%;
  margin-left:-64px;
  z-index: 100;
width:128px}

.facebook_blockG{
background-color:#47b6ff;
border:3px solid #000000;
float:left;
height:91px;
margin-left:7px;
width:24px;
opacity:0.1;
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
}

#blockG_1{
-webkit-animation-delay:0.39s;
}

#blockG_2{
-webkit-animation-delay:0.52s;
}

#blockG_3{
-webkit-animation-delay:0.65s;
}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

#video-stream{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 90%;
	height: 90%;
}